<h2>Location</h2>
  <div class="vcard">
    <div class="fn org"><%= custom_value("Business Name") %></div>
    <div class="adr">
      <div class="street-address"><%= custom_value("Street Address") %></div>
      <span class="locality"><%= custom_value("City") %><span>, <abbr class="region" title="state"><%= custom_value("State") %></abbr> <span class="postal-code"><%= custom_value("Zip") %></span>
    </div>
  </div>
<h2>Contact</h2>
<div class="tel"><%= custom_value("Phone Number") %></div>
<%= 
  link_to("Email Us", {:controller => 'inquiries', :action => 'new'}, 
          :rel => "shadowbox;width=500;height=600;title=Email Us") unless mobile_device?
%>

<%= mail_to("justine@bendmassageandwellness.com") if mobile_device? %>
