<div class="vcard">
  <div class="fn org"><strong><%= custom_value("Business Name") %></strong></div>
  <div class="adr">
    <div class="street-address"><%= custom_value("Street Address") %></div>
    <span class="locality"><%= custom_value("City") %><span>, <abbr class="region" title="state"><%= custom_value("State") %></abbr> <span class="postal-code"><%= custom_value("Zip") %></span>
  </div>
</div>
<div class="tel"><%= custom_value("Phone Number") %></div>
<%= 
  link_to("Email Us", {:controller => 'inquiries', :action => 'new'}, 
          :rel => "shadowbox;width=500;height=600;title=Email Us") 
%>
<% unless custom_value("Office Lat").blank? || custom_value("Office Long").blank? %>
<h2>Our Location:</h2>
<div id="map_canvas"></div>
    
<script type="text/javascript">
  
  function initialize() {
    var officeLoc = new google.maps.LatLng(
      <%= custom_value("Office Lat") %>, 
      <%= custom_value("Office Long") %>
    );    
  
    var myOptions = {
    zoom: <%= custom_value("Office Map Zoom") %>,
    center: officeLoc,
    mapTypeId: google.maps.MapTypeId.ROADMAP
    }
  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
  var marker = new google.maps.Marker({
      position: officeLoc,
      map: map,
      title:"Our Location"
  });
  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.googleapis.com/maps/api/js?sensor=true&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;
</script>
<% end %>
