<div id='gallery'>
  <% @page.images.each do |i| %>
    <%= image_tag(i.thumbnail("700x500").url) %>
  <% end %>
  <div class="slidetabs">
    <% @page.images.each do |i| %>
      <a href="#"></a>
    <% end %>
  </div>
</div>
<script type="text/javascript">
  $(".slidetabs").tabs("#gallery > img", {
	  effect: 'fade',
	  fadeOutSpeed: "slow",
	  rotate: true
  }).slideshow({
    autoplay: true,
    interval:6000
  });
</script>
<div id="main">
  <%=raw @page.content_for(:body) %>
</div>
<a href="#" id="scheduleButton">Schedule Now!</a>
<div id="side">
  <h2>Location</h2>
  <%= custom_value("Street Address") %><br />
  <%= custom_value("City") %>, <%= custom_value("State") %> <%= custom_value("Zip") %>
  <h2>Contact</h2>
  <%= custom_value("Phone Number") %><br />
  <%= 
    link_to("Email Us", {:controller => 'inquiries', :action => 'new'}, 
            :rel => "shadowbox;width=500;height=600;title=Email Us") 
  %>
</div>

