<div id="main<%= 'Full' if !right_column %>">
  <%=raw @page.content_for(:body) %>
  <%= extra_content %>
</div>
<% if right_column %>
  <a href="#" id="scheduleButton">Schedule Now!</a>
  <div id="side">
    <%= side_images %>
    <%=raw @page.content_for(:side_body) %>
    <%= render :partial => "contact_info" %>
  </div>
<% end %>
